<div class="row">
    <div class="col s12 m6" style="margin: 5rem;">
        <div style="background: grey;opacity:80%; width: 50rem; height:15rem; margin: 10px; border-radius:6px">
            <div style="text-align: center; font-size:20pt">
                <span class="card-title" style="margin: 20rem; padding-top: 10rem"></span>
                <p style="font-size: 20px;">Active Trip:</p>
            </div>
            <div style="text-align: center; color: white" id="resDates"></div>
            <div style="text-align: center; color: white" id="resF"></div>
            <div style="text-align: center; color: white" id="resH"></div>
            <div style="text-align: center; color: white" id="resD"></div>
            <div style="text-align: center; color: white" id="resB"></div>
            <br></br>
            <button id="emailBtn">Email</button>
        </div>
    </div>
</div>

<script src="/js/newbudget.js"></script>
<script src="/js/active.js"></script>