<div class="container col-sm-3 col-md-8 col-lg- mt-8" style="margin: 6rem;">
    <h1>calendar</h1>

    <div class="card">
        <h3 class="card-header" id="monthAndYear">Month And Year</h3>
        <table class="table table-bordered table-responsive-sm" id="calender">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody id="calbody"></tbody>
        </table>

        <div class="form-inline">
            <button class="btn btn-outline-primary col-sm-6" onclick=previous()>Previous</button>
            <button class="btn btn-outline-primary col-sm-6" onclick=next()>Next</button>
        </div>
    </div>
</div>
<script src="/js/calendar.js"></script>