<div class="row">
    <div class="col s12 m6" style="margin: 5rem;">
        <div style="background: grey;opacity:80%; width: 50rem; height:15rem; margin: 10px; border-radius:6px">
            <div style="text-align: center; font-size:20pt">
                <span class="card-title" style="margin: 20rem; padding-top: 10rem"></span>
                <p style="font-size: 40px; background: white">Welcome!</p>
                <p style="font-size: 20pt;">What would you like to do?</p>
                <a href="newbudget">Start New Trip</a>
                <a href="activetrip">View Current Trip</a>
            </div>
        </div>
    </div>
</div>