<div class="row" style="background:grey; padding: 5rem; margin: 3rem; border-radius:6px;">
    <form class="col s12" id="newTripForm">
        <div class="row">

            <h5 style="color: white;">New Trip Form:</h5>
        </div>
        <div class="row">
            <div class="input-field col s4" class="form-group">
                <input id="name" type="text" class="validate">
                <label for="name">Name:</label>
            </div>
            <div class="input-field col s4">
                <input id="destination" type="text" class="validate">
                <label for="destination">Destination:</label>
            </div>
            <div class="input-field col s4">
                <div id="calculator" class="back">
                    <div><input class="input" type="text" id="input" value="0" readonly="readonly"> </div>
                    <div id="keys" class="keys">
                        <button onClick="Clear()">AC</button>
                        <button onClick="DEL()">DEL</button>
                        <button onClick="calculator1()">%</button>
                        <button onClick="calculator1()">/</button>
                        <button onClick="calculator()">7</button>
                        <button onClick="calculator()">8</button>
                        <button onClick="calculator()">9</button>
                        <button onClick="calculator1()">+</button>
                        <button onClick="calculator()">4</button>
                        <button onClick="calculator()">5</button>
                        <button onClick="calculator()">6</button>
                        <button onClick="calculator1()">-</button>
                        <button onClick="calculator()">1</button>
                        <button onClick="calculator()">2</button>
                        <button onClick="calculator()">3</button>
                        <button onClick="calculator1()">*</button>
                        <button onClick="zero()">0</button>
                        <button onClick="dot()">.</button>
                        <button onClick="dzero()">00</button>
                        <button onClick="resultcalculator()">=</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s7">
                <input id="flight" type="text" class="validate">
                <label for="flight">Flight Info:</label>
            </div>
            <div class="input-field col s1">
                <input id="length" type="text" class="validate">
                <label for="length">#Days:</label>
            </div>
            <div class="input-field col s4" class="input">
                <label for="city">Compare City Costs:</label><br><br>
                <input id="city" type="input" class="validate">
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Search</a>
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Content from cities_db</h4>
                        <p>City info:</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input id="flightcost" type="text" class="validate">
                <label for="flightcost">Flight$:</label>
            </div>
            <div class="input-field col s4">
                <input id="hotelcost" type="text" class="validate">
                <label for="hotelcost">Hotel$:</label>
            </div>


        </div>
        <div class="row">
            <div class="input-field col s4">
                <input id="mealcost" type="text" class="validate">
                <label for="mealcost">Meals:</label>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    <input id="entertainment" type="text" class="validate">
                    <label for="entertainment">Entertainment:</label>
                </div>
                <div class="input-field col s4">
                    <input id="transport" type="text" class="validate">
                    <label for="transport">Transportation:</label>
                </div>
                <div class="input-field col s4">
                    <input id="misc" type="text" class="validate">
                    <label for="misc">Misc:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input id="totalbudget" type="text" class="validate">
                    <label for="totalbudget">Total Costs:</label>
                    <br>
                    <br>
                    <br>
                    <button class="btn waves-effect waves-light" type="submit" id="submitbtn">Submit
                        <i class="material-icons right"><i class="fas fa-paper-plane"></i></i>
                    </button>

                </div>



            </div>
        </div>
    </form>
</div>