<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>City Name</th>
              <th>Total Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Nick</td>
            <td>Sweden</td>
            <td>$800.00</td>
          </tr>
          <tr>
            <td>Kyle</td>
            <td>South Africa</td>
            <td>$1300.76</td>
          </tr>
          <tr>
            <td>Kate</td>
            <td>Norway</td>
            <td>$700.00</td>
          </tr>
          <tr>
            <td>Ben</td>
            <td>Ecuador</td>
            <td>$800.00</td>
          </tr>
          <tr>
        </tbody>
      </table>