body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url("../assets/search2.jpg");
}

main {
  flex: 1 0 auto;
}

html {
  background: url("../assets/search2.jpg");
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
